*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: 'Pretendard', sans-serif;
}

body{
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255,255,255,0));
    z-index: 1000;
}

.h-svg{
    margin-left: 70px;
}


ul{
    display: flex;
    list-style: none;
    margin-right: 70px;
}

li{
    padding: 0 20px;
    color: #717171;
    font-weight: 600;
}

.main-title {
    position: absolute;
    left: 3%;
    font-size: 140px;
    font-weight: 600;
    line-height: 1.0;
    background: linear-gradient(90deg, rgba(255, 87, 124, 1) 0%, rgba(102, 184, 251, 1) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main-text{
    position: absolute;
    left: 3.5%;
    top: 38%;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
    color: #9B9B9B;
}

.m-svg{
    position: absolute;
    left: 35%;
    top: 5%;
    overflow: hidden;
    width: 67%;
}

#wrap{
    width: 100vw;
    margin-top: 50px;
    justify-content: center;
    position: absolute;
/*     left: 60%; */
    transform: translateX(-50%);
}

section {
    width: 95vw;
    position: relative;
    margin: 20px;
    /*border: solid 1px #9B9B9B;*/
}

#sec1{
    height: 840px;
}

#sec2{
    height: 840px;
}

/* #sec3 svg조정 때문에 주석처리 했습니다. / 수빈  */
/* #sec3{
    height: 1400px;
} */

#plan-sec{
    /*margin-top: 30px;*/
}

.p1{
    font-size: 24px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 35px;
    color: #5a5a5a;
}

.p2{
    color: #FF577C;
    font-weight: 500;
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.p3{
    color: #FF577C;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}

#plan-sec pre{
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 1.6rem;
    color: #2C2C2C;
}

/* 미관상 #des-sec에 존재하는 하나의 pre도 plan의 pre와
같은 스타일을 공유하는 것이 시각적으로 좋을 것 같습니다. / 수빈  */
#des-sec pre {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 1.6rem;
    color: #2C2C2C;
}

#sec3 {
    position: relative;
    min-height: 100vh; /* 최소 화면 높이만큼 확보 */
    padding-top: 50px;
    padding-bottom: 200px;
    overflow: hidden;
}

.bg-art1, .bg-art2 {
    position: relative; /* 위치 설정을 위해 */
}

.bg-art2 {
    margin-top: 100px;
    text-align: center;
    bottom: 0; /* 섹션3의 하단에 위치하도록 */
}

/* 마찬가지로 svg조정을 위해 주석처리 했습니다. / 수빈 */
/* SVG 위치 조정 */
/* #sec3 svg {
    position: relative;
    display: block;
    margin: auto;
    height: calc(100vh - 500px); /* 전체 높이에서 여유 공간 확보 */
} */



/* 수진 수정 시작 */

.svg-con {
    position: absolute;
    width: 95vw;
    display: flex;
    flex-direction: column;
    animation: drop 1.1s ease-out forwards;
}

.ov-1 {
    opacity: 0;
    position: absolute;
    left: 55%;
    transition: opacity 0.2s, transform 0.2s ease;
}

.ov-1.active{
    opacity: 1;
    animation: drop1 1.1s cubic-bezier(0.2, 0, 0.1, 1) forwards;
}

@keyframes drop1 {
    0% {
        transform:
                translateY(50px)
                rotate(0);
    }
    80% {
        transform:
                translateY(340px)
                rotate(10deg);

    }
    100% {
        transform:
                translateY(365px)
                rotate(5deg);

    }
}

.ov-2 {
    opacity: 0;
    position: absolute;
    left: 44%;
    transition: opacity 0.8s, transform 0.8s ease;
}

.ov-2.active{
    opacity: 1;
    animation: drop2 0.8s cubic-bezier(0.2, 0, 0.2, 1) forwards;
}

@keyframes drop2 {
    0% {
        transform:
                translateY(100px)
                rotate(-10deg);
    }
    70%{
        transform:
                translateY(540px)
                rotate(-50deg);
    }
    100% {
        transform:
                translateY(570px)
                rotate(-45deg);

    }
}

.ov-3 {
    opacity: 0;
    position: absolute;
    left: 56%;
    transition: opacity 0.7s, transform 0.7s ease;
}

.ov-3.active{
    opacity: 1;
    animation: drop3 0.7s cubic-bezier(0.25, 0, 0.2, 1) forwards;
}

@keyframes drop3 {
    0% {
        transform:
                translateY(150px)
                rotate(30deg);
    }
    100% {
        transform:
                translateY(650px)
                rotate(0);

    }
}

.ov-4 {
    opacity: 0;
    position: absolute;
    left: 62.5%;
    transition: opacity 0.7s, transform 0.7s ease;
}

.ov-4.active{
    opacity: 1;
    animation: drop4 0.7s cubic-bezier(0.25, 0, 0.1, 1) forwards;
}

@keyframes drop4 {
    0% {
        transform:
                translateY(200px)
                rotate(25deg);
    }
    85%{
        transform:
                translateY(490px)
                rotate(-10deg);
    }
    100% {
        transform:
                translateY(525px)
                rotate(0deg);
    }
}

.ov-5 {
    opacity: 0;
    position: absolute;
    left: 73%;
    transition: opacity 0.6s, transform 0.6s ease;
}

.ov-5.active{
    opacity: 1;
    animation: drop5 0.6s cubic-bezier(0.2, 0, 0.2, 1) forwards;
}

@keyframes drop5 {
    0% {
        transform:
            translateY(300px)
            rotate(-15deg);
    }
    80% {
        transform:
            translateY(630px)
            rotate(10deg);

    }
    100% {
        transform:
            translateY(650px)
            rotate(0deg);

    }
}

.ov-6 {
    opacity: 0;
    position: absolute;
    left: 80%;
    transition: opacity 0.9s, transform 0.9s ease;
}

.ov-6.active{
    opacity: 1;
    animation: drop6 0.9s cubic-bezier(0.25, 0, 0.3, 1) forwards;
}

@keyframes drop6 {
    0% {
        transform:
                translateY(350px)
                rotate(25deg);
    }
    100% {
        transform:
                translateY(530px)
                rotate(2deg);
    }
}

.ov-7 {
    opacity: 0;
    position: absolute;
    left: 90%;
    transition: opacity 0.5s, transform 0.5s ease;
}

.ov-7.active{
    opacity: 1;
    animation: drop7 0.5s cubic-bezier(0.25, 0, 0.3, 1) forwards;
}

@keyframes drop7 {
    0% {
        transform: translateY(400px);
    }
    100% {
        transform: translateY(655px);
    }
}

/* 여기까지 수진 */

.main{
    display: flex;
    justify-content: flex-start;  /* 중앙(center)에서 왼쪽(flex-start)으로 변경 */
    align-items: flex-start;      /* 중앙->왼 수직 정렬 */
    height: 100vh;
}
.m-art {
    /* flex 컨테이너 내에서 추가 조정 */
    margin-left: 50px;            /* 왼쪽 여백*/
    margin-top: 100px;            /* 위쪽 여백 조정 */
}
.m-art h1 {
    background: linear-gradient(to right, #FF577C, #66B8FB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;             /* 텍스트 색을 투명하게 해서 그라데이션이 보이게 함 */
    font-weight: bolder;
    font-size: 100px
}

/* 수빈 수정 시작 */

/* sec3의 bg_svg_container 애니메이션 부분 */

/* 애니메이션이 시작될 때 깜빡거림 방지*/
.bg_container_box {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bg_container_box.up {
    margin-top: 80px;
    margin-bottom: 50px;
    transform: translateY(50px);
    opacity: 1;
    animation: up 1s ease-out forwards;
}

.bg_svg_container {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 1482px;
    margin: auto;
}

@keyframes up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* sec3의 bg_svg 애니메이션 부분 */

.bg_svg {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bg_svg.show {
    opacity: 1;
    clip-path: inset(0 0 100% 0);
    animation: show 1s ease-out forwards;
}

@keyframes show {
    0% { clip-path: inset(0 0 100% 0); }
    100% { clip-path: inset(0 0 0 0); }
}

/* sec4 USER SURVEY 부분 css */

/* .user-art1{
    display: flex;
    align-content: space-between;
} */
/* 아래로 수정 함 / 수빈 */
.user-art1 {
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

.us-scroll {
    position: relative;
}

.us-g {
    position: absolute;
    left: -20px;
    z-index: 2;
}

/* USER SURVEY 가로 스크롤 부분 svg */
#container1 {
    z-index: 1;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    overflow: hidden;
    width: 100%;
    contain: paint;
}

.user1 {
    display: inline-flex;
    gap: 60px;
    position: sticky;
    height: 500px;
}

.us-svg1 {
    width: 700px;
}

/* USER SURVEY 두번째 svg */

/* .user-art2{
    display: flex;
    align-content: space-between;
} */
/* 아래로 수정 함 / 수빈 */
.user-art2 p {
    margin-left: 50px;
}

#container2 {
    display: flex;
    justify-content: center;
    height: 750px;
    margin-top: 100px;
    margin-bottom: 350px;
}

.user2 {
    width: 1300px;
}

.survey:nth-child(2) {
    float: right;
}

/* sec4 USER SURVEY 부분 svg 애니메이션. 상단의 @keyframes up 사용 */
.us-svg2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.us-svg2.up {
    margin: 25px;
    height: 200px;
    float: left;
    transform: translateY(50px);
    opacity: 1;
    animation: up 0.8s cubic-bezier(0, 0, 0.08, 1.14) forwards;
}

/* sec5 OUR SERVICE 부분 css */
#container3 {
    display: flex;
    justify-content: center;
    height: 416px;
    margin-top: 100px;
    margin-bottom: 350px;
}

.serv-container {
    display: inline-flex;
    gap: 60px;

}

/* sec5 OUR SERVICE 부분 애니메이션 상단의 @keyframes up 사용 */
.servBox {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.servBox.up {
    opacity: 1;
    animation: up 1s ease-out forwards;
}

/*.servAni1 {*/
/*    animation-delay: 0s*/
/*}*/
/*.servAni2 {*/
/*    animation-delay: 0.1s*/
/*}*/
/*.servAni3 {*/
/*    animation-delay: 0.2s*/
/*}*/
/* 이거 딜레이 적용이 안되는데 방법을 좀 알아봐야할듯 함 */

/* sec6 IA 정보구조도 부분 css */

#container4 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 350px;
}

/* sec7 비디오 부분 */

/* 비디오는 아직 없어서 공백입니다. / 수빈 */

/* sec8 des 부분 css */

#container5 {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 1000px;
    margin-bottom: 300px;
}

.des-s {
    width: 850px;
    height: 1000px;
}

.des-box1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.des-box1.up {
    margin: 80px 50px 0 50px;
    opacity: 1;
    animation: up 1s cubic-bezier(0, 0, 0.08, 1.14) forwards;
}

/* sec9 des 부분 css */

#container6 {
    display: flex;
    margin-bottom: 300px;
    gap: 60px;
}

.des-box2 {
    margin-left: 200px;
}

.des-s2 {
    margin-left: auto;
}

/* 수빈 끝 */

/*section 13 경륜 추가 수정*/

pre {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 1.6rem;
    color: #2C2C2C;
}
#sec13 {
    position: relative;
    width: 100%;
    height: auto;
}

.bg13 {
    position: relative;
    width: 1920px;
    height: 2800px;
    background: linear-gradient(to bottom, #FF577C, #66B8FB); /* 그라데이션 색상 */
    border-top-right-radius: 700px; /* 오른쪽 위 border-radius */
    border-top-left-radius: 0; /* 왼쪽 위는 radius 없음 */
    z-index: -1; /* 맨 뒤에 위치하게 설정 */
}

.bg13::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px; /* 아래쪽 위치 조정 */
    transform: translateX(-50%); /* 가운데 정렬 */
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* 역삼각형 왼쪽 */
    border-right: 20px solid transparent; /* 역삼각형 오른쪽 */
    border-top: 20px solid #66B8FB; /* 역삼각형 색상 */
}

.s13-svg1{
    float: left;
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
   }
.s13-svg2{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -50%); /* 위로 50% 이동 */
    border: solid 1px gray;

}
.sec13-p{
    float: right;
}
.sm-box {
    flex: 1;
    display: flex;
    gap: 40px;
}
.sec13-p1{
    font-size: 50px;
}
.sm213 {
    width: 50%;
    position: relative;
    top: 1000px;
    margin-bottom: 300px;

}

.sm-svg1, .sm-svg2, .sm-svg3 {
    position: absolute;
    top: 0; /* 원하는 위치에 따라 조정 */
    left: 0; /* 원하는 위치에 따라 조정 */
}

/* z-index 설정 */
.sm-svg1 {
    z-index: 3; /* 가장 낮은 z-index */
}
.sm-svg2 {
    z-index: 4; /* 가장 높은 z-index */
}
.sm-svg3 {
    z-index: 3; /* 가장 낮은 z-index */
}


.sec13-container {
    display: flex; /* flexbox 사용 */
    flex-wrap: wrap; /* 여러 줄로 나눔 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    gap: 20px; /* 아이템 간격 추가 */
    padding: 20px; /* 여백 추가 */
}
.sm-svg4{
    float: left;
    margin-left: -300px;
    margin-top: 1600px;
}

.sec13-TBox {
    margin-left: -300px;
    margin-top: 1600px;
    width: 400px;
    height: 400px;
    display: flex; /* 내부 요소 정렬을 위해 flex 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    padding: 10px; /* 내부 여백 추가 */
    margin-bottom: 20px;
}

.sm-svg {
    max-width: 80%; /* 이미지 크기 조정 */
    height: auto; /* 자동 높이 */
}
#sec14{

}

.sec14-text{
    text-align: center;
}

/* 여기까지 경륜 css */
